*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#navbar{
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-container{
    background-color: #263999;
    justify-content: space-between;
    padding: 10px;
}

.navbar-itens{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 30px 0 20px 0;
}

.navbar-itens:visited, :focus, :active{
    text-decoration: none; color: black;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #263999;
}

.navbar-container2 ul li{
    padding: 0 30px;
}

/* .imagem{
    text-align: center;
    filter: brightness(50%);
}

.imagem img{
    width: 100%;
    height: 100%;
} */

#showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 400px;
    color: white;
<<<<<<< HEAD
    background: url("./img/firewatch-video-game-do-sol-nas-montanhas-papel-de-parede-1440x900_4.jpg") center center/cover;
=======
    background: url("./img/pink-red-flowers-roses-peonies-spring-pictures-for-desktop-phone-wallpaper.jpg") center center/cover;
>>>>>>> f3a190d9ca9f8eb2653786a7a60b6daf8823b0a4
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: color;
}


#Apresentacao{
    background-color: white;
    color: black;
    padding: 30px 180px 120px;
}
#title{
    text-align: center;
}

#usuario{
    text-align: center;
    /* padding-left: 600px; */
    padding-top: 50px;
    padding-bottom: 20px;
}

.descricao{
    text-align: center;
}

#Projetos{
    background-color: white;
    color: black;
    padding: 120px 180px 200px;
}

#projeto1{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#descricaoProjeto{
    padding-right: 80px;
}
#descricaoProjeto2{
    padding-right: 80px;
    text-align: right;
}

.sanfona{
    width: 1200px;
    height: 500px;
    overflow: hidden;
    margin: 100px auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.sanfona ul{
    width: 2000px;
}

.sanfona li{
    position: relative;
    display: block;
    width: 160px;
    float: left;
    border: 1px solid #888;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.sanfona ul :hover li {width: 40px;}

.sanfona ul li:hover {width: 640px;}

.sanfona li img{
    display: block;
}
